@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  min-width: 1300px;
}
.container{
  width: 1300px;
  margin: 0px auto;
  padding: 0px 0px;
}
* {
  box-sizing: border-box;
}
 a{
text-decoration: none;
}
header {
  background-image: url("https://million-wallpapers.ru/wallpapers/3/0/482859899897545.jpg");
  background-repeat: no-repeat;
  
}

.header-links {
  padding: 34px 0;
  text-align: auto;
  max-width: 1100px;
  margin: 0 auto;
}
.header-links a {
  color: white;
  margin-left: 16px;
}

.video {
}
.video-inner h1{
margin-top: -50px;
}
.video-inner p{
margin-top: 50px;
}
.video-inner {
  padding: 100px 0;
}

.video-inner h1 {
  font-size: 36px;
  color: white;
  text-align: center;
}

.video-inner p {
  font-size: 18px;
  color: white;
  margin-bottom: 70px;
  text-align: center;
}

.video-box {
  background-image: url("../Арты пк/фотки/5.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.video-button span {
  color: black;
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 24px;
  border-radius: 100px;
  cursor: pointer;
 
  -webkit-animation: breathing 3s ease-out infinite;
  animation: breathing 3s ease-out infinite;
}

  
  
  @-webkit-keyframes breathing{
    0%{
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    25%{
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    60%{
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }

.video-button span img {
  margin-right: 20px;
}

.sub {
  margin-top: 0%;
 
 margin-top: -50px;
}

.sub-inner {
  text-align: center;
  padding: 80px 0;
  color: white;
}

.sub-input {
  width: 488px;
  display: flex;
  margin: 0 auto;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 0 20px 0 white;
}
.sub-input input {
  width: 60%;
  padding: 12px 36px;
  outline: none;
  font-size: 12px;
  border: none;
}

.sub-input span {
  width: 40%;
  padding: 12px;
  background-color: black;

  font-size: 16px;

  color: white;
}

.sub-inner p {
  color: white;
}

.footer {
  background-color: white;
  
}

.footer-content {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-weight: bold;
  font-size: 18px;
}

.footer-content{
 
}
.footer-item {
  color: #999;
  font-size: 14px;
}

.footer-list {
  list-style: none;
  padding: 0px;
}

.footer-item {
  padding: 15px 0;
}

.footer-l {
  padding: 30px 0;
  text-align: center;
  border-top: 1px solid #999;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  display: none;
}

.modal-close {
  height: 10vh;
  background-color: white;
  text-align: center;
  border: 1px solid white;
}
